*.iml
.gradle
.kotlin
/local.properties
/keystore.properties
/app/release.keystore
/.idea/
.DS_Store
build/
**/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
output/
*.hprof
.cursor/*
!.cursor/rules/
!.cursor/rules/**
reports/
